@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #3333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center; /* Centers the items horizontally */
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #ffffff;
  position: fixed;
  background: rgb(59, 59, 59);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
  margin-right: auto; /* Ensures links are centered along with the title */
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: floralwhite
}

.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  padding-top: 80px;
}
